@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@tailwind utilities;

@import 'primereact/resources/themes/viva-light/theme.css';

@theme {
    --font-poppins: 'Poppins';
    --font-nunito: 'Nunito';
    --color-primary: oklch(0.4229 0.087 274.65);
    --color-secondary: oklch(0.5883 0.1891 25.14);
}

body {
    @apply font-poppins;
    @apply text-sm;
    @apply text-gray-800;
}

.p-button {
    @apply !font-poppins !text-sm !border-none;
}

.p-inputtext {
    @apply font-poppins !text-sm !w-full !border !border-gray-300 focus-within:!ring focus-within:!ring-primary;
}

.p-menu {
    @apply !border-none !font-poppins !text-sm !p-0;
}
